body {
background: black;
color: white;
margin: 0%;
}
a{
    color:inherit;
    text-decoration: none;
}
/* color是可以继承的 */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topnavbar{
    padding-top: 20px;
    padding-left: 16px;
}
.topnavbar .logo{
    padding-top: 8px;
}
.topnavbar .logo .rs{
    color: #e6686a;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;
    margin-right: 4px;
}
.topnavbar .logo .card{
    color: #9a9da2;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;

}
.topnavbar>nav {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.topnavbar>nav>a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: bold;
}
.topnavbar>nav>ul{
    list-style:none; margin: 0; padding: 0;
}
.topnavbar>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topnavbar>nav>ul>li>a{
    font-size: 16px;
    color: grey;
    text-decoration: none; 
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topnavbar>nav>ul>li>a:hover{
    border-bottom: 1px solid red;
}
