body {
background: #efefef;
/* color: white; */
margin: 0%;
}
a{
    color:inherit;
    text-decoration: none;
}
*{
    margin: 0%;
    padding: 0%;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid gray;
}
/* color是可以继承的 */
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/* 文字换行套路 */
.topnavbar{
    padding: 20px 0;
    position: fixed;
    /* 脱离文档流 */
    top: 0;
    left: 0;
    width: 100%;
    /* 不要明确宽度，容易出现bug */
}
.topnavbar-inner{
    padding: 0 16px 0 16px;
}
.topnavbar .logo{
    padding-top: 8px;
}
.topnavbar .logo .rs{
    color: #e6686a;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;
    margin-right: 4px;
}
.topnavbar .logo .card{
    color: black;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;

}
.topnavbar nav {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.topnavbar nav>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.topnavbar nav>ul{
    list-style:none; margin: 0; padding: 0;
}
.topnavbar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topnavbar nav>ul>li>a{
    font-size: 16px;
    color: gainsboro;
    text-decoration: none; 
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topnavbar nav>ul>li>a:hover{
    border-bottom: 1px solid red;
}
.banner{
height: 515px;
/* 高度是bug的来源 */
background-position: center center;
background-size: cover;
/*按比例缩放，即自适应*/
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5);
}
.usercard{
    max-width: 940px;
    /*小于940px会自适应*/
    margin-left: auto;
    margin-right: auto;
    /*div居中套路*/
    background-color: white;
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.1);

}
.usercard .welcome{
    background:#e6686a;
    color:white;
    display:inline-block;
    padding: 4px 10px 0px 10px;
    /*从内往外做，可以自适应并减少bug*/
    line-height: 22px;
    position: relative;
/* 绝对定位套路 相对于父元素中的第一个relative定位*/
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-top-color: black;
    border-right-color: transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    /* 绝对定位套路 需要定位的元素加 absolute*/
    left: 4px;
    top: 100%;
}
.usercard .picture{
    float: left;
    /*左右布局套路*/
}
.usercard .text{
    float: left;
    /*左右布局套路*/
    padding: 0 0 0 50px;
    width: 480px;
}

.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0px;
}
.usercard .pictureAndText{
    padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 5px 0px;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: gray;
}
.usercard>footer.media{
    background-color: #e6686a;
    text-align: center;
}
.usercard>footer.media> a{
    display: inline-block;
    /*用a样式包裹住*/
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.usercard>footer.media> a:hover{
background: #cf5d5f;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
    /*减少下边框*/
}
body > main{
    margin-top: -350px;
}
body > main .downloadresume-wrapper{
    text-align:center;
}


body > main .downloadresume{
    font-size: 16px;
    line-height: 16px;
    padding: 21px 55px;
    /*内联元素左右元素padding有用，上下没有用*/
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    /*内联元素加入inline-block能撑起行高*/
    border-radius: 4px;
    font-weight: bold;
    margin: 35px 0;
    transition: box-shadow 0.3s;
    /*添加hover box-shadow的过渡效果时间*/
}
body > main .downloadresume:hover{
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.2);
}
.selfintroduction{
    max-width: 940px;
    /*小于940px会自适应*/
    margin-left: auto;
    margin-right: auto;
    /*div居中套路*/
    text-align: center;
}
section.skills ,
section.portfolio {
    max-width: 940px;
    /*小于940px会自适应*/
    margin-left: auto;
    margin-right: auto;
    /*div居中套路*/
    margin-top: 30px;
}
section.skills >h2 ,
section.portfolio >h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills > ol > li > h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol{
    background: white;
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.2);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills > ol > li{
    float: left;
    width: 50%;
    /*50%是算padding10px的*/
    box-sizing: border-box;
    /*隆重介绍，内部自适应满足*/
    padding-right: 10px;
} 
section.skills > ol > li:nth-child(odd){
}
section.skills > ol > li:nth-child(even){
    float: right;
}
/*伪类，表示状态，一个冒号，可以选择一些元素
2个冒号的表示伪元素*/


section.skills .progressbar{
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
section.skills .progressbar .progress{
    height: 100%;
    background: #e6686a;
    width: 60%;
}
section.portfolio > nav{
   text-align: center; 
   /*内联元素居中套路*/
}
section.portfolio > nav > ol{
margin: 0 auto;
display: inline-block;
/*加了inline-block会有bug*/
vertical-align: top;
/*套路*/
}
section.portfolio > nav > ol >li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
/*左浮元素居中是个伪命题，我们需要居中他的父元素*/
section.portfolio > nav > ol >li:nth-child(1){
    margin-left: 0;
}
section.portfolio{
    text-align: center;
}
section.portfolio > nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
}
section.portfolio > nav .bar{
    height: 5px;
    background: white;
    margin-top: 10px;
    margin-bottom: 60px;
}
section.portfolio > nav .bar-inner{
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
    /*动画过度*/
}
section.portfolio > nav .bar.state-1/*无空格，表示同时符合*/ .bar-inner{
    margin-left: 0;
    width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 145px;
    width: 98px;
}
section.portfolio .works{
 position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small{
 position: absolute;
 /*加了绝对定位元素不在文档流，对应div高度为0*/   
}
footer.copyright{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}
footer.copyright > p{
    color:grey;
}
footer.copyright > a{
    text-decoration: none; 
    display: inline-block;
    /*用a样式包裹住*/
    color: gray;
}
footer.copyright > p >a:hover{
    color: black;
}