body {
background: blanchedalmond;
/* color: white; */
margin: 0%;
}
a{
    color:inherit;
    text-decoration: none;
}
*{
    margin: 0%;
    padding: 0%;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid gray;
}
/* color是可以继承的 */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/* 文字换行套路 */
.topnavbar{
    padding: 20px 0;
    position: fixed;
    /* 脱离文档流 */
    top: 0;
    left: 0;
    width: 100%;
    /* 不要明确宽度，容易出现bug */
}
.topnavbar-inner{
    padding: 0 16px 0 16px;
}
.topnavbar .logo{
    padding-top: 8px;
}
.topnavbar .logo .rs{
    color: #e6686a;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;
    margin-right: 4px;
}
.topnavbar .logo .card{
    color: black;
    font-size: 24px;
    font-family: "Cooper black";
    font-weight: bold;

}
.topnavbar nav {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.topnavbar nav>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.topnavbar nav>ul{
    list-style:none; margin: 0; padding: 0;
}
.topnavbar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topnavbar nav>ul>li>a{
    font-size: 16px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    border-bottom: 1px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topnavbar nav>ul>li>a:hover{
    border-bottom: 1px solid red;
}
.banner{
height: 515px;
/* 高度是bug的来源 */
background-position: center center;
background-size: cover;
/*按比例缩放，即自适应*/
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5);
}
.usercard{
    max-width: 940px;
    /*小于940px会自适应*/
    margin-left: auto;
    margin-right: auto;
    /*div居中套路*/
    background-color: white;
}
.usercard .welcome{
    background:#e6686a;
    color:white;
    display:inline-block;
    padding: 4px 10px 0px 10px;
    /*从内往外做，可以自适应并减少bug*/
    line-height: 22px;
    position: relative;
/* 绝对定位套路 相对于父元素中的第一个relative定位*/
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-top-color: black;
    border-right-color: transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    /* 绝对定位套路 需要定位的元素加 absolute*/
    left: 4px;
    top: 100%;
}
.usercard .picture{
    float: left;
    /*左右布局套路*/
}
.usercard .text{
    float: left;
    /*左右布局套路*/
    padding: 0 0 0 50px;
    width: 480px;
}

.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0px;
}
.usercard .pictureAndText{
    padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 5px 0px;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: gray;
}
.usercard>footer.media{
    background-color: #e6686a;
    text-align: center;
}
.usercard>footer.media> a{
    display: inline-block;
    /*用a样式包裹住*/
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.usercard>footer.media> a:hover{
background: #cf5d5f;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
    /*减少下边框溢出*/
}